<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/acceso.png" alt="img login">
        <h1>Registrarse</h1>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Ingrese su id">
            <label >ID User</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Ingrese su usuario">
            <label >Password</label>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-dark btn-lg">Ingresar</button>   
        </div> 
        <a routerLink="/signin">Registrarse</a>
    </div> 
</div>

